.body {
    margin: 100px;
    
}

#wins {
    color: green;
}

#loss {
    color: red;
}

#tip {
    padding: 15px 30px;
    position: relative;
    float: right;
    margin-right: 400px;

}

@media only screen and (max-width: 540px) {
    #tip {
        margin-right: 100px;
    }

    @media only screen and (max-width: 240px) {
        #tip {
            margin-right: 50px;
        }
}